li {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
button {
  cursor: pointer;
}

.pageMove:active {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  margin: 15px 15px 0px 0px;
  width: 125px;
  padding: 5px;
  background-color: #FDE7E9;
}


.default {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  -webkit-transition: none !important;
  transition: none !important;
}

.recipeStyle {
    margin: 0px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.recipesStyle {
    list-style-type: none;
    margin: 0;
    padding: 15px 25px;
    -webkit-box-shadow: inset 3px 3px 15px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 3px 3px 15px 0px rgba(0,0,0,0.35);
    box-shadow: inset 3px 3px 15px 0px rgba(0,0,0,0.35);
}

.recipeStyle:hover {
  background-color: #FDE7E9;
}

.posRecipeName {
  margin-bottom: 0px;
  margin-top: 0px;
}

.posRecipeTime {
  margin:8px 0px;
}


.posRecipeStars {
  padding-top: 0px;
}

#recipeThumbnail {
  width: 100px;
  display: inline-block;
  height: 70px;
}

#recipeInfo {
  display: inline-block;
  margin-left: 20px;
}

#header {
  margin-top:0px;
  background-color: #80A035;
}

#title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #E0F2DD;
  margin: 5px;
  padding: 5px;
  width: 200px;
  display: inline-block;
}

#title strong {
  font-size: 60px;
  color: #FFF;
}

#searchForm {
  font-family: 'Roboto Condensed', sans-serif;
  color: #000;
  display: inline-block;
  margin: 10px 125px 0px;
  padding: 5px;
}

#searchFormSubmit {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  float: left;
  margin: 5px 100px 20px;
  width: 125px;
  border-radius: 4px;
  background-color: #F4FBE5;
}

#searchFormSubmit:active {
  background-color: #FDE7E9;
}

#searchForm label strong {
  font-size: 20px;
  color: #FFF;
}
#searchForm label {
  font-size: 13px;
  color: #E0F2DD;
}
#searchForm input {
  background-color: #E0F2DD;
  margin-bottom: 5px;
}

#ingredients {
  padding-right: 17px;
}

#allergiesYo {
  width: 131px;
  margin-bottom: 5px;
  background-color: #E0F2DD;
}
#allergySon {
  padding-right: 15px;
}
#nav {
  background-color: #0E5003;
  padding-top: 7px;
  padding-left: 10px;
}

#footer {
  clear: both;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  color: #FFF;
  background-color: #0E5003;
  bottom: 0;
  height: 40px;
  width: 100%;
}

#logo {
  display: inline-block;
  margin: 0px;
  padding-left: 10px;
  padding-top: 10px;
  height: 65px;
}

#logoTitle {
  display: inline-block;
  margin: 0px;
  padding-left: 0px;
  margin-top: 0px;
}

.buttonOn {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    display: inline-block;
    margin: 0px;
    padding: 5px 10px 5px 10px;
    background-color: #FFFFFF;
    border: 0px;
    border-radius: 2px 2px 0px 0px;
    -webkit-transition: none !important;
    transition: none !important;
    -webkit-box-shadow: 0px 15px 5px -1px rgba(255,255,255,1);
    -moz-box-shadow: 0px 15px 5px -1px rgba(255,255,255,1);
    box-shadow: 0px 15px 5px -1px rgba(255,255,255,1);
}

.buttonOff {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
    display: inline-block;
    margin: 0px;
    padding: 5px 10px 5px 10px;
    background-color: #415B04;
    border: 0px;
    border-radius: 2px 2px 0px 0px;
    -webkit-transition: none !important;
    transition: none !important;
}

.query {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  display: inline-block;
  margin: 5px;
  padding: 2px;
  background-color: #F4FBE5;
}

.even {
  background-color: #F4FBE5;
}
.odd {
  background-color: #FFFFFF;
}

.pages {
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
}

#resultsFound {
  float: right;
  margin-right: 15px;
}

.rating span {
  color: gray;
  margin: 0px;
  padding: 0px;
}
.rating span.filled {
  color: gold;
}

.pageMove {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  margin: 15px 15px 0px 0px;
  width: 125px;
  padding: 5px;
  background-color: #E0F2DD;
}

#currentPage {
  font-family: 'Lato', sans-serif;
  margin-right: 15px;
}

#copyRight {
  margin-top: 12px;
  margin-left: 10px;
  display:inline-block
}

#yummlyCopyRight {
  margin-top: 12px;
  margin-right: 10px;
  float:right;
}

#yummlyImage {
  margin-top: 10px;
  margin-right: 10px;
  float:right;
}

#ingredientList {
  margin:15px 101px;
}

#recipeLink {
  margin-left: 125px;
}

.item {
  clear:both
}

.ng-move,
.ng-enter,
.ng-leave {
  -webkit-transition:all linear 0.3s;
  transition:all linear 0.3s;
}

.ng-leave.ng-leave-active,
.ng-move,
.ng-enter {
  opacity:0;
}

.ng-leave,
.ng-move.ng-move-active,
.ng-enter.ng-enter-active {
  opacity:1;
}

.no-animate {
   -webkit-transition: none !important;
   transition: none !important;
}
